body{
    margin: 0 auto;
    background-color: #ECF0F1;
}
#nav{
    width: 100%;
    height: 50px;
    padding: 0px 200px;
    box-sizing: border-box;

    display: flex;
    justify-content: space-around;
    align-items: center;

    background-color: white;

}
#siteName{
    color: #002FA7;
    font-size: 26px;
    font-weight: bold;
}
#searchBox>form{
    margin-bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
#searchBox input{
    width: 240px;
    height: 30px;
    border-radius: 30px;
    padding: 10px;
    border: 1px solid gray;
}
#main{
    margin-top: 25px;
    box-sizing: border-box;
    padding: 0px 190px;
    display: flex;
    justify-content: space-evenly;
    align-items: start;
}
#main>div{
    background-color: white;
}


#tagbox {
    width: 20%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    box-sizing: border-box;
}

#tag {
    width: 100%;
    margin: 5px 0px 20px 0px;
}
#tag>div{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
#forumlist{
    width: 50%;
    height: auto;
}
#content{
    box-sizing: border-box;

    width: 20%;
    height: auto;
    padding: 2% 2%;
}

#postButtom{
    width: 80%;
    height: 40px;
    background-color: #002FA7;
    color: white;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;

    transition: all 0.3s;
}
#postButtom:hover{
    background-color: #0042e6;
}

#forumbox{
    box-sizing: border-box;
    width: 100%;
    height: auto;
    padding: 10px;
}
.post{
    padding: 20px;
    transition: all 0.3s;
    border-bottom: 1px solid #dddddd;
}
.post:hover{
    background-color: #dddddd;
}
.postName{
    font-size: 20px;
    font-weight: bold;
}
.postDetails{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.tag{
    box-sizing: border-box;

    width: 32%;
    margin: 5% 8%;
    padding: 2px;
    background-color: #e8e7e7;
    border-radius: 15px;
    text-align: center;

    transition: all 0.3s;

}
.tag:hover{
    background-color: #cdcdcd;
}
