body{
    margin: 0 auto;
    background-color: #e0d7ca;
}
#nav{
    width: 100%;
    background-color: #e98f8f;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    font-size: 18px;
}
#nav>div{
    margin: 0px 180px;
}
#home{
    width: 100px;
    height: 50px;
    background-color: #9d9de4;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s;
} #home:hover{
    background-color: #8c8ce2;
}
#landr{
    display: flex;
    justify-content: center;
    align-items: center;
}
#landr>div{
    width: 100px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s;
} #landr>div:hover{
    background-color: #9d9de4;
}
#banner{
    width: 100%;
    height: 500px;
    background-color: #9de4ae;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#banner>img{
    width: 100%;
    height: 500px;
}
#content{
    width: 100%;
    display: flex;
    justify-content: center;
}
#text{
    width: 60%;
    height: 800px;
    background-color: #e4ddd4;
}
#bottom{
    width: 100%;
    height: 200px;
    background-color: rgba(74,74,74,0.93);
}