#backHome{
    color: #002FA7;
    height: 40px;
    display: flex;
    align-items: center;
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid #d1d1d1;
}
#postBox{
    box-sizing: border-box;
    width: 100%;
    padding: 10px;

    display: flex;
    flex-direction: column;
}
#postTitle{
    width: 100%;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
}
#postContent{
    padding: 20px;
    font-size: 18px;
}
#postInfo{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
#postPublisher{
    color: #002FA7;
    font-weight: bold;
}
#postInfo>div{
    width: auto ;
}
#comment{
    box-sizing: border-box;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 20px;
}
#comment>textarea{
    resize: none;
    border-radius: 0px;
    width: 100%;
    height: 62px;
    border: 1px solid black;
    font-size: 18px;
}
#comment>textarea:focus{
    outline: none;
}
#commentSend{
    height: 60px;
    width: 80px;
    transition: all 0.3s;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    border-left: none;
}
#commentSend:hover{
    background-color: #d1d1d1;
}
#commentSend:active{
    background-color: #a3a3a3;
}
